{% extends 'base.html.twig' %}

{% block body %}

<title>{% block title %}Accueil-Scoutisme au Sénégal {% endblock %}</title>

<style>
body {
background-color:wight;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
	width: 200%;
	text-align: left;
	font: bold 16px sans-serif;
    bottom: 0;
	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

</style>

<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Bienvenu dans la page d'accueil de votre site</h2>
  <!-- Section description -->
  <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Le scoutisme est une méthode d'éducation civique 
  des adolescents reposant sur et par le respect de la loi scoute,<br /> l'emploi du système de patrouille, la pratique 
  du jeu et de la vie dans la nature.<br /></p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 col-xl-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
        <img class="img-fluid" src="images/logosse.PNG" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7 col-xl-8">

      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>Scouts du Sénégal</strong></h3>
      <!-- Excerpt -->
      <p class="dark-grey-text">Les scouts du Sénégal sont membres de la Confédération Sénégalaise du Scoutisme 
      qui est affiliée à l’organisation Mondiale du Mouvement Scout ( OMMS), membre de la Confédération Sénégalaise
       du Scoutisme (CSS), membre de la Conférence Internationale Catholique du Scoutisme (CICS).<br />L’association 
       des Scouts du Sénégal a été reconnue officiellement par récépissé N° 1429/MINT/ APA du 21 avril 1961 du Ministère 
       de l’Intérieur.<br /> <br />Actuellement, les scouts du Sénégal forment avec les guides du Sénégal : 
       l’association des scouts et guides du Sénégal ( ASGS). L’ASGS regroupe plus de vingt mille (20 000) membres
        ( jeunes et adultes) à travers tout le Sénégal.<br /></p>
    </div>
<section/>

<footer class="footer-distributed ">

			<div class="footer-left">

				<h3>Scout au<span> Sénégal </span></h3>

				<p class="footer-links">
					<a href="{{ path('accueil') }}">Accueil</a>
					·
					<a href="{{ path('apropos') }}">Apropos</a>
					·
					<a href="{{ path('activite') }}">Activite</a>
					·
					<a href="{{ path('contact') }}">Contact</a>
				</p>

				<p class="footer-company-name">Copyright Khalifa &copy; 2020</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>21 Angle Blaise Diagne</span> Dakar, Sénégal</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p> 33 860 09 55</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">scout-info@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Heures et jours d'ouvertures</span>
					Lundi au Vendredi 8h à 17h 
                   </p>

			</div>

		</footer>

{% endblock %} 

