{% extends 'base.html.twig' %}

{% block body %}

<title>{% block title %}Activite-Scoutisme au Sénégal {% endblock %}</title>

<style>
body {
background-color:LightgoldenrodYellow;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

</style

<section class="my-5">
<h2 class="h1-responsive font-weight-bold text-center my-5">Programme des Jeunes et Adultes dans le Scoutisme</h2>
<div class="field field-name-field-page-content field-type-text-long field-label-hidden text-center">
<p>Le Scoutisme est un Mouvement d'auto-éducation progressive pour les jeunes. Selon l'approche éducative du Scoutisme,
chaque personne est née avec un potentiel unique qui peut être développé dans un sens constructif. Faire de ce potentiel 
une réalité implique de développer toutes ses capacités - physiques, intellectuelles, affectives, sociales et spirituelles.
On arrive à ce résultat en proposant un environnement d'apprentissage qui stimule chaque jeune et le met au défi d'apprendre
de nouvelles choses pendant ses années de formation.</p>
<p>La partie essentielle de l'expérience scoute réside dans le Programme des Jeunes. Le terme Programme des Jeunes dans 
le Scoutisme ne désigne pas seulement les activités qui sont entreprises, mais aussi comment et pourquoi elles sont faites. 
Dans l'ensemble, les activités sont considérées comme un moyen plutôt qu'une fin en soi. Ces activités offrent à chaque jeune
l'opportunité de développer des compétences, des attitudes et d’acquérir des connaissances nouvelles. Les jeunes sont les principaux
acteurs de ce processus d'éducation non formelle avec un soutien adulte adéquat, généralement fourni par des responsables adultes bénévoles. </p>
<p>Le Scoutisme se caractérise également par le fait qu'il est un Mouvement ouvert à tous, volontaire, apolitique, indépendant et pertinent
pour les jeunes d'aujourd'hui. Grâce au Programme des Jeunes, les scouts deviennent des membres actifs de la société en apprenant à être
responsables d'eux-mêmes et des autres. Tout en s'amusant, parce que - selon les mots de Lady Olave Baden-Powell: « Si ce n'est pas amusant, ce n'est pas du Scoutisme ».</p>

<h1 align=center>Activite des Jeunes</h1>

<p class="text-center dark-grey-text w-responsive mx-auto mb-5">Le Programme des Jeunes, c'est l’ensemble du quoi - ce qu’un jeune fait
dans le Scoutisme - (les activités), du comment (la Méthode scoute) et du pourquoi (le but). Il est réalisé grâce à un partenariat entre jeunes
et adultes, en tenant compte des intérêts, des besoins et des capacités des participants.</p>Le Programme des Jeunes dans le Scoutisme offre 
un processus progressif d'auto-éducation en vue du développement personnel des enfants et des jeunes. Les activités elles-mêmes diffèrent entre 
les pays et au sein d'un même pays (il n'y a pas de liste établie d'activités pour toutes les Organisations scoutes nationales), mais elles sont 
toutes faites en suivant la méthode et le but du Mouvement scout. Exemples d'activités : activités de camp et de vie en plein air, projets de service, 
des formations professionnelles, jeux, expéditions internationales, développement communautaire, art dramatique et chant, voile, et beaucoup d'autres.</p>
Afin de vivre le programme de la meilleure façon possible, les scouts sont organisés en groupes de différentes tranches d'âge. Les tranches d'âge et les
noms qui s’y rapportent varient suivant les Organisations scoutes nationales, afin de mieux répondre aux différents besoins et contextes. Par exemple,
la division traditionnelle distingue les Louveteaux (8-11 ans), les Scouts (11-17 ans) et les Routiers (17-26 ans). Aujourd'hui, un certain nombre
de pays divisent la tranche d'âge des ”Scouts” en deux groupes (Scouts 11-14 ans et Pionniers 14-17 ans) pour répondre aux besoins spécifiques des adolescents plus jeunes et plus âgés.</p>

<h1 align=center>Activite des Adultes</h1>

<p class="text-center dark-grey-text w-responsive mx-auto mb-5">Bien que les jeunes soient au cœur même des activités du Scoutisme (le choix, 
la planification, l'exécution et l'évaluation), le soutien des adultes est un élément clé. Ce soutien peut prendre différentes formes (éducation,
organisation ...) et varier également en fonction de la tranche d'âge des scouts. Ainsi les enfants de la branche Louveteaux exigent une plus grande
 présence et intervention des adultes que les jeunes de la branche Route.</p>
Aujourd'hui, environ 7 millions d'adultes sont impliqués dans le Scoutisme à travers le monde. Ces adultes bénévoles jouent un rôle essentiel
et sont une ressource précieuse et importante. Être un bénévole adulte dans le Scoutisme, c'est aussi une chance de développement personnel.
En soutenant la création d'environnements éducatifs sains, les adultes développent aussi leurs compétences de leadership, d'organisation et 
de communication, l'empathie, l'estime de soi, etc.</p>
<p>Pour que les Organisations scoutes nationales puissent se développer et offrir un meilleur Scoutisme à plus de jeunes, elles ont besoin
d'attirer et de retenir des responsables adultes motivés et qualifiés. Elles doivent leur offrir une formation continue tout au long de leur
implication dans l'association. Leurs connaissances et leur sensibilisation sur le travail avec les jeunes doivent être aussi renouvelés sur 
une base régulière à travers des cours de perfectionnement.</p>
<p>Au cours des dernières années, de nombreuses Organisations scoutes nationales ont investi du temps et des ressources pour repérer les
 tendances en matière d'engagement bénévole dans leur pays, identifier clairement les bénévoles qui leur sont nécessaires et développer des 
 stratégies et des plans pour recruter et retenir leurs responsables bénévoles. En s'appuyant sur ces idées, des outils et des ressources
 ont été développés pour soutenir le travail bénévole.</p></p>

 <footer class="footer-distributed">

			<div class="footer-left">

				<h3>Scout au<span> Sénégal </span></h3>

				<p class="footer-links">
					<a href="{{ path('accueil') }}">Accueil</a>
					·
					<a href="{{ path('apropos') }}">Apropos</a>
					·
					<a href="{{ path('activite') }}">Activite</a>
					·
					<a href="{{ path('contact') }}">Contact</a>
				</p>

				<p class="footer-company-name">Copyright Khalifa &copy; 2020</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>21 Angle Blaise Diagne</span> Dakar, Sénégal</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p> 33 860 09 55</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">scout-info@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Heures et jours d'ouvertures</span>
					Lundi au Vendredi 8h à 17h 
                   </p>

			</div>

		</footer>


{% endblock %}    